<header class="about-banner">
  <div id="title"></div> <!-- About Me Title Image -->
  <div id="about-img"></div> <!-- About Me Image -->
  <div id="description">
    <form>
      <table>
        <tr>
          <th align="center" colspan="2"><h2>Key Stats</h2></th>
        </tr>
        <tr>
          <td align="right"><h4>Name:</h4></td>
          <td align="left"><input type="text" name="name" value="Sam Kavanagh" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Age:</h4></td>
          <td align="left"><input type="text" name="age" value="27" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Nationality:</h4></td>
          <td align="left"><input type="text" name="nationality" value="New Zealand" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Career:</h4></td>
          <td align="left"><input type="text" name="career" value="Web Developer" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Industry Years:</h4></td>
          <td align="left"><input type="text" name="years-in-industry" value="2" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Education:</h4></td>
          <td align="left"><input type="text" name="career" value="PhD, Computer Science" /></td>
        </tr>
      </table>
    </form>
  </div>
</header>