@import '../../styles.scss';

section, header {
    padding: 0 5% 0 5%;
}

header {
    @include size(medium) {
        height: $header-height-responsive;
    }
}

.about-banner {
    display: grid;
    background-image: url(../../assets/images/header-banner-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 10%;
    padding-top: 3em;
    font-size: smaller;

    grid-template-rows: 5% 20% 75%;
    grid-template-columns: auto;

    grid-template-areas:
        "title"
        "about-img"
        "description";

    @include size(medium) {
        padding-top: 0;
        font-size: medium;
        background-position-x: 10%;
        grid-template-areas:
            "title title"
            "description about-img";
        grid-template-rows: 20% 80%;
        grid-template-columns: 60% 40%;
    }

    @include size(large) {
        grid-template-columns: 50% 50%;
    }


    #title {
        grid-area: title;
        background-image: url(../../assets/images/header-about-title.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #about-img {
        grid-area: about-img;
        background-image: url(../../assets/images/profile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 1em;
        margin-left: 2em;
    }

    #description {
        grid-area: description;
        display: flex;
        justify-self: center;
        padding-top: 1em;
        width: 100%;
        box-sizing: border-box;

        h4 {
            margin: 0;
        }

        input[type="text"] {
            border: 1px solid $tofu-primary;
            box-sizing: border-box;
            border-radius: 5px; 
            padding: 5px 15px;
            font-variant: small-caps;
            width: 100%;
        }

       table {
            th {
                padding-bottom: 2em;
            }
            td {
                padding-bottom: 0.5em;

                @include size(large) {
                    padding-bottom: 1em;
                }
            }
        }

        #contact {
            padding-top: 1em;

            @include size(large) {
                padding-top: 1em;
            }

            display: flex;
            justify-content : center;
            align-items: center;
        }
    }

}
  