@import '../../styles.scss';

section, header {
    padding: 0 5% 0 5%;
}

.about-banner {
    display: grid;
    background-image: url(../../assets/images/header-banner-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 8%;
    padding-top: 3em;

    grid-template-rows: 5% 25% 65%;
    grid-template-columns: auto;

    grid-template-areas:
        "title"
        "about-img"
        "description";

    @include size(large) {
        padding-top: 0;
        font-size: medium;
        background-position-x: 0;
        grid-template-areas:
            "title title"
            "description about-img";
        grid-template-rows: 20% 80%;
        grid-template-columns: 50% 50%;
    }

    #title {
        grid-area: title;
        background-image: url(../../assets/images/header-about-title.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #about-img {
        grid-area: about-img;
        background-image: url(../../assets/images/profile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 1em;
    }

    #description {
        grid-area: description;
        display: flex;
        justify-self: center;
        padding-top: 1em;

        h4 {
            margin: 0;
        }

        input[type="text"] {
            border: 1px solid $tofu-primary;
            box-sizing: border-box;
            border-radius: 5px; 
            padding: 5px 10px;
            font-variant: small-caps;
        }

        table {
            td {
                padding-bottom: 1em;
            }
        }
    }

}
  