<header class="about-banner">
  <div id="title"></div> <!-- About Me Title Image -->
  <div id="about-img"></div> <!-- About Me Image -->
  <div id="description">
    <form>
      <table>
        <tr>
          <th align="center" colspan="2"><h1>Key Stats</h1></th>
        </tr>
        <tr>
          <td align="right"><h4>Name:</h4></td>
          <td align="left"><input id="name" type="text" name="name" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Age:</h4></td>
          <td align="left"><input id="age" type="text" name="age" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Nationality:</h4></td>
          <td align="left"><input id="nationality" type="text" name="nationality" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Career:</h4></td>
          <td align="left"><input id="career" type="text" name="career" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Industry Years:</h4></td>
          <td align="left"><input id="years-in-industry" type="text" name="years-in-industry" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Education:</h4></td>
          <td align="left"><input id="education" type="text" name="education" /></td>
        </tr>
      </table>

      <!-- Contact Button sub-form -->
      <form action="mailto:hganavak@gmail.com" id="contact">
        <input class="cta" type="submit" value="Get in Contact" />
      </form>

    </form>
  </div>
</header>