<header class="about-banner">
  <div id="title"></div> <!-- About Me Title Image -->
  <div id="about-img"></div> <!-- About Me Image -->
  <div id="description">
    <form>
      <table>
        <tr>
          <th align="center" colspan="2"><h3>Key Stats</h3></th>
        </tr>
        <tr>
          <td align="right"><h4>Name:</h4></td>
          <td align="left"><input id="name" type="text" name="name" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Age:</h4></td>
          <td align="left"><input id="age" type="text" name="age" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Nationality:</h4></td>
          <td align="left"><input id="nationality" type="text" name="nationality" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Career:</h4></td>
          <td align="left"><input id="career" type="text" name="career" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Industry Years:</h4></td>
          <td align="left"><input id="years-in-industry" type="text" name="years-in-industry" /></td>
        </tr>
        <tr>
          <td align="right"><h4>Education:</h4></td>
          <td align="left"><input id="education" type="text" name="education" /></td>
        </tr>
      </table>

      <!-- Contact Button sub-form -->
      <form [routerLink]="['/contact']" id="contact">
        <input class="cta" type="submit" value="Get in Contact" />
      </form>

    </form>
  </div>
</header>

<section id="technologies">
  <div id="technology-title">
    <h1>Technologies</h1>
  </div>
  <div id="technology-icons">
    <div id="icon-pictures"></div>
    <div id="icon-caption">
      <h3>Primary Technologies</h3>
      HTML5, CSS3, JavaScript, Angular, Sass, TypeScript, SQL, Docker, Spring, Bash, Git, Java.
    </div>
  </div>
  <div id="technology-description">
    <h3>Wordy Stuff</h3>
    <p>I have been programming as a hobby since I was 12 years old, and have worked as a web developer commercially for the last several years.</p>
    <p>Before that, I completed a PhD in Computer science at the University of Auckland. My PhD investigated the application of virtual reality to education. If you're interested in this you can see some selected publications linked at the bottom of this page.</p>
    <p>My main skills are in front-end development, specifically Angular, TypeScript/JavaScript, Sass/CSS, and HTML.</p>
    <p>For the last couple of years I have worked as the primary developer of the <a href="https://research-hub.auckland.ac.nz/">Researchhub</a>. An award winning Angular application. For more information please see my <a [routerLink]="['/portfolio']">portfolio</a> page.</p>
    <p>If you're more interested in me as a person, read the section below.</p>
  </div>
</section>

<section id="about-me">
  <div id="about-me-title">
    <h1>About <span id="me">Me</span></h1>
  </div>
  <div id="about-me-map">
      <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=New+Zealand&t=&z=3&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>  
  </div>

  <div id="about-me-description">
    <p>I was born in a small town called Whakatane, in New Zealand. I lived there until I was 7 years old, before moving to England, where I lived briefly before moving back to New Zealand's biggest city, Auckland.</p>
    <p>I completed my BSc Hons. (First Class) in Computer Science in 2014, achieving 3 first-in-course awards during my postgraduate study. In 2018 I completed a PhD in Computer Science. During this time I also tutored web development at the University of Auckland.</p>
    <p>For the last couple of years I have worked as a full stack web developer (specializing in front-end development) for the Centre for eResearch.</p>
  </div>
</section>

<section id="publications">
  <div id="publications-title">
    <h1>Selected Publications</h1>
  </div>
  <div id="publication-cards-container">

    <div class="publication-card">
      <h3>Creating 360 Educational Video: A Case Study</h3>
      <p>The application of virtual reality (VR) to education has been documented for over half a century. During this time studies investigating its use have demonstrated positive findings ranging from increased time on task, to enjoyment, motivation and retention. Despite this, VR systems have never achieved widespread adoption in education. This is arguably due to both limitations of the VR technologies themselves, and the overhead incurred by both content developers and users. In this paper we describe a case study of an alternative approach to creating educational VR content. Instead of using computer graphics, we used a spherical camera in conjunction with a VR head-mounted display to provide 360 educational lectures. The content creation process, as well as issues we encountered during this study are explained, before we conclude by discussing the viability of this approach.</p>

      <form action="https://www.researchgate.net/profile/Sam_Kavanagh/publication/312407587_Creating_360_educational_video_a_case_study/links/59361da60f7e9beee7ebe5c9/Creating-360-educational-video-a-case-study.pdf">
        <input class="cta" type="submit" value="View Publication" />
      </form>

    </div>

    <div class="publication-card">
      <h3>A Systematic Review of Virtual Reality in Education</h3>
      <p>Virtual reality has existed in the realm of education for over half a century. However, its widespread adoption is still yet to occur. This is a result of a myriad of limitations to both the technologies themselves, and the costs and logistics required to deploy them. In order to gain a better understanding of what these issues are, and what it is that educators hope to gain by using these technologies in the first place, we have performed both a systematic review of the use of virtual reality in education, as well as two distinct thematic analyses. The first analysis investigated the applications and reported motivations provided by educators in academic literature for developing virtual reality educational systems, while the second investigated the reported problems associated with doing so. These analyses indicate that the majority of researchers use virtual reality to increase the intrinsic motivation of students...</p>

      <form action="https://www.learntechlib.org/p/182115/">
        <input class="cta" type="submit" value="View Publication" />
      </form>

    </div>

    <div class="publication-card">
      <h3>Rubrics Used in Peer Assessment</h3>
      <p>The widespread usage of both peer assessment and rubrics has greatly increased in recent years. This trend has been attributed to both the rising popularity of web-based peer assessment tools, as well as widespread acceptance of a range of attributed benefits facilitated by the use of rubrics. Over the course of this paper the effects and applications of both peer assessment tools and rubrics are analysed, including research into the accuracy of the aforementioned attributed benefits. Emphasis is placed on the analysis and comparison of two popular forms of rubrics (holistic and specific). The results of this study have highlighted the rudimentary level of current research in this area. Furthermore the limited research that does exist is often biased, inconclusive and/or contradictory. With the state of existing research it is (currently) infeasible to factually state that a single rubric technique/form is superior...</p>

      <form action="https://www.researchgate.net/profile/Andrew_Luxton-Reilly/publication/311488333_Rubrics_used_in_peer_assessment/links/5c89c71aa6fdcc38175271ae/Rubrics-used-in-peer-assessment.pdf">
        <input class="cta" type="submit" value="View Publication" />
      </form>

    </div>

  </div>
</section>