@import '../../styles.scss';

section, header {
    padding: 0 5% 0 5%;
}

section {
    min-height: 100vh;
    height: auto !important;
    width: 100% !important;
    max-width: 100% !important;

    // TODO: Move this stuff into base styles.scss
    &:nth-of-type(even) {
        background-color: $tofu-secondary;
    }

    &:nth-of-type(odd) {
        background-color: $tofu-primary;
        color: $tofu-secondary;

        a {
            color: $tofu-secondary;
            border-bottom: 1px solid $tofu-secondary;

            &:hover {
                text-decoration: none;
                border-bottom: 2px solid $tofu-secondary;
            }
        }
    }

}

header {
    @include size(medium) {
        height: $header-height-responsive;
    }
}

.about-banner {
    display: grid;
    background-image: url(../../assets/images/header-banner-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 10%;
    padding-top: 3em;
    font-size: smaller;
    overflow-x: hidden !important;

    grid-template-rows: 5% 12% 83%;
    grid-template-columns: auto;

    grid-template-areas:
        "title"
        "about-img"
        "description";

    @include size(medium) {
        padding-top: 0;
        font-size: medium;
        background-position-x: 10%;
        grid-template-areas:
            "title title"
            "description about-img";
        grid-template-rows: 20% 80%;
        grid-template-columns: 60% 40%;
    }

    @include size(large) {
        grid-template-columns: 50% 50%;
    }


    #title {
        grid-area: title;
        background-image: url(../../assets/images/header-about-title.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #about-img {
        grid-area: about-img;
        background-image: url(../../assets/images/profile.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 1em;
        margin-left: 2em;
    }

    #description {
        grid-area: description;
        display: flex;
        justify-self: center;
        padding-top: 1em;
        width: 100%;
        box-sizing: border-box;

        h4 {
            margin: 0;
        }

        input[type="text"] {
            border: 1px solid $tofu-primary;
            box-sizing: border-box;
            border-radius: 5px; 
            padding: 5px 15px;
            font-variant: small-caps;
            width: 100%;
        }

       table {
            th {
                padding-bottom: 2em;
            }
            td {
                padding-bottom: 0.5em;

                @include size(large) {
                    padding-bottom: 1em;
                }
            }
        }

        #contact {
            padding-top: 1em;

            @include size(large) {
                padding-top: 1em;
            }

            display: flex;
            justify-content : center;
            align-items: center;
        }
    }

}

#technologies {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "technology-title"
        "technology-icons"
        "technology-description";
    justify-items: center;
    align-items: center;
    height: auto;

    @include size(large) {
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 85%;
        grid-template-areas:
            "technology-title technology-title"
            "technology-description technology-icons";
        align-items: start;
        justify-content: start;
    }

    #technology-title {
        grid-area: technology-title;
    }
    
    #technology-icons {
        display: grid;
        grid-area: technology-icons;
        height: 100%;
        width: 100%;

        min-height: 30vh;

        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas: 
            "icon-pictures";

        // Enable caption on larger devices
        @include size(large) {
            grid-template-rows: 60% 40%;
            grid-template-areas:
                "icon-pictures"
                "icon-caption";
            text-align: center;
        }

        #icon-pictures {
            grid-area: icon-pictures;
            background-image: url(../../assets/images/technologies.svg);

            // Background only div needs to be allocated space
            align-self: stretch;
            justify-self: stretch;

            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-top: 5%;

            @include size(large) { margin-top: 0; }
        }

        #icon-caption {
            grid-area: icon-caption;
            font-variant: small-caps;
            // font-size: larger;
            text-align: center;
            padding: 1.5em 15% 5%;
            line-height: 1.75em;
            letter-spacing: 0.15em;

            display: none;
            @include size(large) { display: grid; }
        }

        // margin: 0 10% 0 10%;
        padding: 0;

        @include size(large) {
            background-position: top;
        }
     }

     #technology-description {
         padding-top: 10%;
         grid-area: technology-description;
         align-self: start;
         text-align: center;
         line-height: 1.5em;
         letter-spacing: 0.5px;
         font-variant: small-caps;
         padding: 10% 5% 0 5%;

         @include size(large) {
             padding-top: 0;
             align-self: start;
             width: 75%;
             font-size: large;
         }
     }

}
  
#about-me {
    display: grid;
    // background-image: linear-gradient($tofu-secondary, $tofu-secondary, $tofu-secondary, $tofu-primary);

    align-items: center;
    justify-items: center;
    grid-template-rows: 10% 40% 50%;
    grid-template-areas:
        "about-me-title"
        "about-me-map"
        "about-me-description";

    @include size(medium) {
        grid-template-rows: 15% 40% 55%;
    }

    @include size(large) {
        padding: 5% 5% 5%;
        align-items: center;
        grid-template-rows: 10% 90%; 
        grid-template-columns: 40% 60%;
        grid-template-areas:
            "about-me-title about-me-map"
            "about-me-description about-me-map";
    }

    #me {
        border-bottom: 3px solid $tofu-primary;
    }
    
    #about-me-title {
        grid-area: about-me-title;
    }

    #about-me-map {

        grid-area: about-me-map;
        align-self: stretch;
        justify-self: stretch;

        iframe {
            border-radius: 3%;
            width: 100% !important;
            height: 100% !important;

            @include size(large) {
                width: auto;
                height: auto;
            }
        }
    }

    #about-me-description {
        grid-area: about-me-description;
        text-align: center;
        line-height: 1.5em;
        letter-spacing: 0.5px;
        font-variant: small-caps;

        @include size(large) {
            width: 75%;
        }
    }
}

#publications {
    display: grid;
    text-align: center;
    height: auto;
    align-items: start;

    min-height: 100vh;
    grid-template-rows: 5% 95%;

    @include size(medium) {
        grid-template-rows: 10% 90%;
    }

    @include size(large) {
        grid-template-rows: 15% 85%;
    }

    padding: 1em 5% 5%;

    #publications-title {
        align-self: center;
    }

    #publication-cards-container {
        display: grid;

        justify-content: space-between;
        align-items: stretch;

        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        grid-auto-rows: 1fr;
        box-shadow: 5px 10px 95px $tofu-primary;

        .publication-card {
            display: grid;
            border-radius: 3%;
            padding: 2rem;


            @include size(large) {
                padding: 3rem;
                border-radius: 8%;
            }

            background-color: $tofu-secondary;
            color: #000;

            p {
                line-height: 1.25em;
                @include size(large) { line-height: 1.5em; }
                text-align: justify;
            }

            h3 {
                border-bottom: 1px solid $tofu-primary;
                padding-bottom: 1.5em;
            }

        }
    }
}
