@import '../../styles.scss';

.activeLink {
    background-color: $tofu-secondary;
    color: $tofu-primary !important;

    @include size(medium) {
        background-color: transparent;
        border-bottom: 1px solid $tofu-primary;
        padding-bottom: calc(#{$navbar-height}/2);
    }
}


.topnav {
    position: fixed;
    top: 0;
    width: 100%;

    background-color: $tofu-primary;
    border-bottom: 1px solid $tofu-primary;
    font-variant: small-caps;

    letter-spacing: 0.25em;
    min-height: $navbar-mobile-height;
    
    a {
        display: block;
        color: $tofu-secondary;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        // Hide everything except the hamburger icon on mobile
        &:not(:first-child) {
            display: none;
        }

        &.icon {
            // float: right;
            display: inline-block;
        }
    }

    // Responsive stuff
    &.responsive a {
        display: block;
        text-align: left;
    }
}

// Larger devices
@include size (medium) {

    .topnav {
        position: fixed;
        top: 0;
        width: 100%;
        display: block;

        border-bottom: none;
        background-color:  $tofu-secondary-transparent;
        padding: 0 1em 1vh 0;
        letter-spacing: 0.35em;

        @include size(large) {
            letter-spacing: 0.5em;
        }

        min-height: $navbar-height;

        a {
            color: $tofu-primary;
            font-size: 18px;

            &:not(:first-child) {
                display: inline-block;
            }

            // Hide the hamburger on largert devices
            &.icon {
                display: none;
            }

            &:hover {
                border-bottom: 1px solid $tofu-primary;
                padding-bottom: 10px;
            }

        } 

        .navbar-sep:after {
            color: $tofu-primary;
            content: " | ";
        }

    }

    // Align the navigation items to the right
    #menu-items {
        text-align: right;
    }
}