<div class="topnav" id="myTopnav">
  <div id="menu-items">
    <a href="javascript:void(0);" class="icon" (click)="toggleNavBar()">
      <i class="fa fa-bars"></i>
    </a>
    <a [routerLink]="['/']" class="active" (click)="toggleNavBar()">Home</a> 
    <a [routerLink]="['/portfolio']" (click)="toggleNavBar()">Portfolio</a> 
    <a [routerLink]="['/about']" (click)="toggleNavBar()">About</a>
    <a [routerLink]="['/blog', 15]" (click)="toggleNavBar()">Blog</a>
    <a [routerLink]="['/contact']"(click)="toggleNavBar()">Contact</a>
  </div>
</div>