@import '../../styles.scss';

$navbar-height: 5vh;
$padding-between-navbar-links: 10px;


.topnav {
    // margin-bottom: 3em;
    background-color: $tofu-primary;

    a {
        display: block;
        color: $tofu-secondary;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hover, &:active {
            background-color: $tofu-secondary;
            color: $tofu-primary;
        }

        // Hide everything except the hamburger icon on mobile
        &:not(:first-child) {
            display: none;
        }

        &.icon {
            // float: right;
            display: inline-block;
        }
    }

    // Responsive stuff
    &.responsive a {
        display: block;
        text-align: left;
    }
}

// Larger devices
@include size (medium) {

    .topnav {
        background-color: $tofu-secondary;

        a {
            color: $tofu-primary;

            &:not(:first-child) {
                display: inline-block;
            }

            // Hide the hamburger on largert devices
            &.icon {
                display: none;
            }

        } 
    }

    #menu-items {
        text-align: right;
    }
}