<div id="portfolio-item-container" *ngIf="portfolioItem$ | async as portfolioItem">
    <section id="blog-item-banner" [routerLink]="['/portfolio']"></section>

    <section id="portfolio-ribbon">
        <h1 id="title">{{ portfolioItem.title }}</h1>
        <h4 id="sumamry">{{ portfolioItem.summary }}</h4>
        <div class="ctas">
            <form [routerLink]="['/blog']">
                <input class="cta cta-secondary" type="submit" value="View Code" style="margin: 0 10px 0 10px"/>
            </form>
            <form action="{{ portfolioItem.url }}">
                <input class="cta cta-secondary" type="submit" value="View Website" style="margin: 0 10px 0 10px"/>
            </form>
        </div>
    </section>

    <div id="portfolio-item-body">
        <section id="work-intro-container">
            <img src="{{ portfolioItem.imageImac.fields.file.url }}" id="work-intro-computer">
            <div id="work-description">
            <h1 id="work-description-title">Summary</h1>
            <p>{{ portfolioItem.workDescription }}</p>
            </div>
        </section>

        <section id="technologies">
        <div id="technology-description">
            <h1>Technologies</h1>
            <p>{{ portfolioItem.technologies }}</p>
        </div>
        <div id="technology-mobile-image">
            <img src="{{ portfolioItem.imageIphone.fields.file.url }}" style="height: 100%;">
        </div>
        </section>

        <div class="upper-separator"></div>

        <section id="section-header">
            <h1>Design</h1>
            <hr />
        </section>

        <section id="fonts-and-colors">
            <div id="fonts-and-colors-description">
                <h1>Fonts & Colors</h1>
                <p>{{ portfolioItem.technologies }}</p>
            </div>
            <div id="technology-mobile-image">
                <img src="{{ portfolioItem.imageColors.fields.file.url }}" style="height: 100%;">
            </div>
        </section>

        <section id="prototypes">
            <h1>Prototypes</h1>
            <div class="img-with-caption" *ngFor="let prototype of portfolioItem.prototypes">
                <img src="{{ prototype.fields.file.url }}">
                <p>{{ prototype.fields.description }}</p>
            </div>
        </section>


        <div class="upper-separator"></div>

        <section id="section-header">
            <h1>Final Product</h1>
            <hr />
        </section>

        <section id="final-product">
            <div class="img-with-caption" *ngFor="let final of portfolioItem.finalProduct">
                <img src="{{ final.fields.file.url }}">
                <p>{{ final.fields.description }}</p>
            </div>
        </section>
    </div>

    <div class="ctas">
        <form [routerLink]="['/blog']">
            <input class="cta cta-secondary" type="submit" value="View Code" style="margin: 0 10px 0 10px"/>
        </form>
        <form action="{{ portfolioItem.url }}">
            <input class="cta cta-secondary" type="submit" value="View Website" style="margin: 0 10px 0 10px"/>
        </form>
    </div>

</div>