<div id="portfolio-item-container" *ngIf="portfolioItem">
  <section
    id="blog-item-banner"
    [routerLink]="['/portfolio']"
    data-aos="zoom-out"
    data-aos-duration="500"
  ></section>

  <section id="portfolio-ribbon">
    <h1
      id="title"
      data-aos="zoom-out"
      data-aos-duration="500"
      data-aos-delay="300"
    >
      {{ portfolioItem.title }}
    </h1>
    <h3 id="summary" innerHtml="{{ portfolioItem.summary | mdToHtml }}"></h3>
    <div class="ctas">
      <form action="{{ portfolioItem.code }}">
        <input
          class="cta cta-secondary"
          type="submit"
          value="View Code"
          style="margin: 0 10px 0 10px"
        />
      </form>
      <form action="{{ portfolioItem.url }}">
        <input
          class="cta cta-secondary"
          type="submit"
          value="View Website"
          style="margin: 0 10px 0 10px"
        />
      </form>
    </div>
  </section>

  <div id="portfolio-item-body">
    <section id="work-intro-container">
      <img
        src="{{ portfolioItem.imageImac.fields.file.url }}?q=10"
        id="work-intro-computer"
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="600"
      />
      <div id="work-description">
        <h1 id="work-description-title">Summary</h1>
        <p innerHtml="{{ portfolioItem.workDescription | mdToHtml }}"></p>
      </div>
    </section>

    <section id="technologies">
      <div id="technology-description">
        <h1>Technologies</h1>
        <p innerHtml="{{ portfolioItem.technologies | mdToHtml }}"></p>
      </div>
      <div id="technology-mobile-image">
        <img
          src="{{ portfolioItem.imageIphone.fields.file.url }}?q=20"
          style="height: 100%"
          data-aos="fade-left"
        />
      </div>
    </section>

    <div class="upper-separator"></div>

    <section id="section-header" data-aos="fade-up">
      <h1>Design</h1>
      <hr />
    </section>

    <section id="fonts-and-colors">
      <div id="fonts-and-colors-description">
        <h1>Fonts & Colors</h1>
        <p innerHtml="{{ portfolioItem.fontsAndColors | mdToHtml }}"></p>
      </div>
      <div id="technology-mobile-image">
        <img
          src="{{ portfolioItem.imageColors.fields.file.url }}"
          style="height: 100%"
          data-aos="fade-left"
          data-aos-offset="200"
        />
      </div>
    </section>

    <section id="prototypes">
      <h1>Prototypes</h1>
      <div
        class="img-with-caption"
        *ngFor="let prototype of portfolioItem.prototypes"
      >
        <img
          src="{{ prototype.fields.file.url }}?q=30"
          data-aos="fade-in"
          data-aos-duration="1000"
        />
        <p innerHtml="{{ prototype.fields.description | mdToHtml }}"></p>
      </div>
    </section>

    <div class="upper-separator"></div>

    <section id="section-header" data-aos="fade-up">
      <h1>Final Product</h1>
      <hr />
    </section>

    <section id="final-product" data-aos="fade-in">
      <div
        class="img-with-caption"
        *ngFor="let final of portfolioItem.finalProduct"
      >
        <img
          src="{{ final.fields.file.url }}?q=30"
          data-aos="fade-up"
          data-aos-duration="1000"
        />
        <p>{{ final.fields.description }}</p>
      </div>
    </section>
  </div>

  <div class="ctas">
    <form action="{{ portfolioItem.code }}">
      <input
        class="cta cta-secondary"
        type="submit"
        value="View Code"
        style="margin: 0 10px 0 10px"
      />
    </form>
    <form action="{{ portfolioItem.url }}">
      <input
        class="cta cta-secondary"
        type="submit"
        value="View Website"
        style="margin: 0 10px 0 10px"
      />
    </form>
  </div>
</div>
