@import '../../../styles.scss';

#portfolio-item-container {
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: 100%; 


    #blog-item-banner {
        min-height: 100px;
        background-color: $tofu-secondary;

        background-image: url(../../../assets/images/header-portfolio-item-title.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
    }

    #portfolio-ribbon {
        display: grid;
        text-align: center;
        margin: 35px 0 0px 0;
        padding: 25px;
        background-color: $tofu-primary;
        color: $tofu-secondary;
        min-height: 275px;
    }

    // We use a darker background on this page to contrast the info boxes
    #portfolio-item-body {
        background-color: $tofu-off-secondary;
    }

    #work-intro-container {
        border: 1px solid $tofu-primary;
        border-radius: 3%;
        background-color: $tofu-secondary;
        display: grid;
        grid-template-rows: 60% 40%;
        margin: 275px 15% 30px 15%;
        padding: 2%;

        #work-intro-computer {
            height: 500px; margin: -275px auto 0 auto;    
        }

        #work-description {
            text-align: center;
            font-family: $impact-font;
            line-height: 2.0em;
            font-variant: small-caps;
            letter-spacing: 0.1em;
            padding: 0 5%;

            align-self: bottom;

            #work-description-title {
                margin-top: 0;
            }
        }
    }

    #technologies {
        font-family: $impact-font;
        line-height: 2.0em;
        font-variant: small-caps;
        letter-spacing: 0.1em;

        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 50vh;
        justify-items: center;

        margin: 5% 15%;
    }

    .upper-separator {
        background-color: $tofu-off-secondary;
        height: 8vh;
        background-image: url(../../../assets/images/header-banner-topper.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #section-header {
        h1 {
            margin: 6vh 0 6vh 0;
            text-align: center;
        }

        hr {
            border: 0.5px solid $tofu-primary;
            width: 42%;
        }
    }

    #fonts-and-colors {
        font-family: $impact-font;
        line-height: 2.0em;
        font-variant: small-caps;
        letter-spacing: 0.1em;

        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 50vh;
        justify-items: center;

        margin: 5% 15% 1% 15%;
    }

    .img-with-caption {
        text-align: center;
        padding: 5vh 0;

        img {
            max-width: 75%;
        }

        p { 
            font-family: $impact-font;
            line-height: 2.0em;
            font-variant: small-caps;
            letter-spacing: 0.1em;
            padding-top: 1em;
        }
    }

    #prototypes {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100%;

        h1 {
            text-align: center;
        }
    }
}