<div id="portfolio-item-container" *ngIf="portfolioItem$ | async as portfolioItem">
    <section id="blog-item-banner" [routerLink]="['/portfolio']"></section>

    <section id="portfolio-ribbon">
        <h1 id="title">{{ portfolioItem.title }}</h1>
        <h4 id="sumamry">{{ portfolioItem.summary }}</h4>
        <div id="ctas">
            <form [routerLink]="['/blog']">
                <input class="cta cta-secondary" type="submit" value="View Code" style="margin: 0 10px 0 10px"/>
            </form>
            <form action="{{ portfolioItem.url }}">
                <input class="cta cta-secondary" type="submit" value="View Website" style="margin: 0 10px 0 10px"/>
            </form>
        </div>
    </section>

    <div id="portfolio-item-body">
        <section id="work-intro-container">
            <img src="{{ portfolioItem.imageImac.fields.file.url }}" id="work-intro-computer">
            <div id="work-description">
            <h1 id="work-description-title">Summary</h1>
            <p>{{ portfolioItem.workDescription }}</p>
            </div>
        </section>

        <section id="technologies">
        <div id="technology-description">
            <h1>Technologies</h1>
            <p>{{ portfolioItem.technologies }}</p>
        </div>
        <div id="technology-mobile-image">
            <img src="{{ portfolioItem.imageIphone.fields.file.url }}" style="height: 100%;">
        </div>
        </section>
    </div>



</div>