@import '../../../styles.scss';

// Font sizes
h1, h2 {
    font-size: 1.5em;
    @include size(large) { font-size: 2em; }
}

#portfolio-item-container {
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: 100%; 

    .ctas {
        text-align: center;

        form {
            margin-top: 1em;
            @include size(medium) { margin-top: 0; }
        }

        // Custom styling for the CTAs at the bottom of the page
        &:not(:first-of-type) {
            background-color: $tofu-off-secondary;
            height: 35vh;
            background-image: linear-gradient($tofu-off-secondary, $tofu-off-secondary, $tofu-off-secondary, $tofu-primary);
        }
    }

    #blog-item-banner {
        min-height: 100px;
        background-color: $tofu-secondary;
        margin: auto 5%; 

        background-image: url(../../../assets/images/header-portfolio-item-title.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
    }

    #portfolio-ribbon {
        display: grid;
        text-align: center;
        margin: 35px 0 0px 0;
        padding: 25px;
        background-color: $tofu-primary;
        color: $tofu-secondary;
        min-height: 275px;
        line-height: 1.5em;
    }

    // We use a darker background on this page to contrast the info boxes
    #portfolio-item-body {
        background-color: $tofu-off-secondary;
    }

    #work-intro-container {
        display: grid;
        grid-template-columns: 100%;

        $work-intro-computer-image-size: 50vh;
 
        border: 1px solid $tofu-primary;
        border-radius: 3%;
        background-color: $tofu-secondary;


        margin: calc(#{$work-intro-computer-image-size}/2) 5% 5vh 5%;
        @include size(medium) {
            margin: calc(#{$work-intro-computer-image-size}/2) 10% 5vh 10%;
        }
        padding: 2%;

        #work-intro-computer {
            height: $work-intro-computer-image-size;
            margin: calc(-#{$work-intro-computer-image-size}/2) auto 0 auto;    
            max-width: 100%;
        }

        #work-description {
            text-align: center;
            font-family: $impact-font;
            line-height: 2.0em;
            font-variant: small-caps;
            letter-spacing: 0.1em;
            padding: 0 5%;

            align-self: bottom;

            #work-description-title {
                margin-top: 0;
            }
        }
    }

    #technologies {
        font-family: $impact-font;
        line-height: 2.0em;
        font-variant: small-caps;
        letter-spacing: 0.1em;

        display: grid;

        grid-template-rows: auto;
        grid-template-columns: 100%;

        @include size(large) {
            grid-template-columns: 70% 30%;
            margin: 5% 15%;
        }

        justify-items: center;

        #technology-description {
            p, h1 {
                margin: 5% 5%;
                text-align: center;
                @include size(medium) {
                    text-align: left;
                    margin: 1em 5%;
                }
                @include size(large) {
                    margin: 1em 0;
                }
            }
        }

        #technology-mobile-image {
            height: 50vh;
        }

    }

    .upper-separator {
        background-color: $tofu-off-secondary;
        height: 8vh;
        background-image: url(../../../assets/images/header-banner-topper.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #section-header {
        h1 {
            margin: 6vh 0 6vh 0;
            text-align: center;
        }

        hr {
            border: 0.5px solid $tofu-primary;
            width: 42%;
        }
    }

    #fonts-and-colors {
        font-family: $impact-font;
        line-height: 2.0em;
        font-variant: small-caps;
        letter-spacing: 0.1em;

        margin: 5% 5% 1% 5%;
        @include size(medium) {
            margin: 5% 15% 1% 15%;
        }

        p, h1 {
            margin: 5% 5%;
            text-align: center;
            @include size(medium) {
                text-align: left;
                margin: 1em 5%;
            }
            @include size(large) {
                margin: 1em 0;
            }
        }

        display: grid;

        @include size(large) {
            grid-template-columns: 70% 30%;
            grid-template-rows: 50vh;
        }

        justify-items: center;

    }

    .img-with-caption {
        text-align: center;
        padding: 5vh 0;

        img {
            max-width: 75%;
        }

        p { 
            font-family: $impact-font;
            line-height: 2.0em;
            font-variant: small-caps;
            letter-spacing: 0.1em;
            padding-top: 1em;
        }
    }

    #prototypes {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 100%;

        h1 {
            text-align: center;
        }

        p {
            margin: 1em 5%;
        }
    }

}