<header class="contact-banner">
    <div id="contact-title"></div>

    <div id="contact-form">
        <h2>Howdy!</h2>
        <p>If you would like to get in contact with me via email you can do so by filling out the form below.</p>

        <form method="POST" action="https://formspree.io/hganavak@gmail.com">
            <table>
                <tr>
                    <td align="right"><h4>Email:</h4></td>
                    <td align="left"><input type="email" name="email" placeholder="Your email"></td>
                </tr>
                <tr>
                    <td align="right"><h4>Message:</h4></td>
                    <td align="left"><textarea name="message" placeholder="Your Message" rows="10" cols="50"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2" align="right"><button class="cta" type="submit">Send Email</button></td>
                </tr>
             </table>
        </form>

    </div>

    <div id="contact-img"></div>

</header>