@import '../../styles.scss';
@import '../home/home.component.scss';

.sections {
    display: flex;
    flex-flow: column nowrap;

    font-size: smaller;

    @include size(medium) {
        font-size: medium;
    }
}

section {
    min-height: 100vh;

    &:nth-of-type(odd) {
        background-color: $tofu-primary;
        color: $tofu-secondary;
    }

    &:nth-of-type(even) {
        background-color: $tofu-secondary;
        color: $tofu-third;
    }
}

header {
    @include size(medium) {
        height: $header-height-responsive;
    }
}

.portfolio-banner  {
        display: grid;
        // background-image: url(../../assets/images/header-banner-footer.svg); // Disabled banner image
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: 8%;
        padding: 3em 5% 0 5%;
        font-size: smaller;
        text-align: center;

        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas:
            "title"
            "banner-img"
            "description";

        @include size(large) {
            padding: 0 5% 0 5%;
            font-size: medium;
            background-position-x: 0;
            grid-template-areas:
                "title title"
                "description banner-img";
            grid-template-rows: 20% 80%;
            grid-template-columns: 50% 50%;
        }

    #title {
        grid-area: title;
        background-image: url(../../assets/images/header-portfolio-title.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #description {
        grid-area: description;
        line-height: 2em;

        @include size(large) {
            line-height: 2.5em;

            #name-and-title {
                margin: 2em 0 8em 0;
            }

        }

        #name-and-title {
            // margin: 2em 0 4em 0;
        }
    }

    #banner-img {
        grid-area: banner-img;
        background-image: url(../../assets/images/product_tour.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }

}