<section class="stub-page">
  <h1>Portfolio</h1>
  <h2>Coming Soon...</h2>
  <p>In the mean time feel free to browse the recent work on my GitHub profile.</p>

  <div class="me-cta">
      <form action="https://github.com/Hganavak">
          <input class="cta cta-secondary" type="submit" value="View GitHub" />
      </form>
  </div>


</section>

<section *ngIf="portfolioItems$ | async as portfolioItems">
  <div class="blog-item-card" *ngFor="let portfolioItem of portfolioItems">
    <h1>{{ portfolioItem.title }}</h1>
    <h3>{{ portfolioItem.summary }}</h3>
  </div>
</section>