<header class="portfolio-banner">
  <div id="title">
  </div>
  <div id="description">
    <h2 id="name-and-title">Welcome to My Portfolio</h2>
    <h2>Scroll down for a list of recent projects.</h2>

    <form [routerLink]="['/contact']">
      <input class="cta cta-secondary" type="submit" value="Get in Contact" style="margin: 0 10px 0 10px"/>
    </form>

  </div>
  <div id="banner-img"></div>
</header>

<section id="portfolio-items-container" *ngIf="portfolioItems$ | async as portfolioItems">
  <section class="portfolio-item" *ngFor="let portfolioItem of portfolioItems">
    <h1 class="item-title">{{ portfolioItem.title }}</h1>
    <div class="item-description">
      <p innerHtml="{{ portfolioItem.summary | mdToHtml }}"></p>
      <p><strong>Summary: </strong><span innerHtml="{{ portfolioItem.workDescription | mdToHtml }}"></span></p>
    </div>
    <img src="{{ portfolioItem.image1.fields.file.url }}" class="preview-img-picture">
    <img src="{{ portfolioItem.image2.fields.file.url }}" class="preview-img-picture mobile">
    <div class="item-cta">
        <form [routerLink]="['/portfolio', portfolioItem.slug]">
          <input class="cta cta-secondary" type="submit" value="View Project" />
        </form>
      </div>
  </section>
</section>