@import '../../../styles.scss';

section {
    margin: 0 10%;
}

#blog-item-container {
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: 100%; 

    grid-template-areas:
        "blog-item-banner"
        "ribbon"
        "summary"
        "body";

    hr {
        border-top: 1px solid $tofu-primary;
    }

    #blog-item-banner {
        grid-area: blog-item-banner;
        min-height: 100px;

        background-image: url(../../../assets/images/header-blog-item-title.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
    }

    #blog-ribbon {
        grid-area: ribbon;
        display: grid;
        text-align: center;
        margin: 35px 0 35px 0;
        padding: 25px;
        background-color: $tofu-primary;
        color: $tofu-secondary;
        min-height: 275px;

        #title {
            font-size: 16pt;
            line-height: 1.5em;
            margin: auto auto;

            @include size(medium) {
                font-size: 24pt;
                line-height: 2em;
                letter-spacing: 0.35em;
                width: 75%;
            }

        }

        #tags {
            .tag {
                display: inline-block;
                border: 1px solid $tofu-secondary;
                background-color: $tofu-secondary;
                color: $tofu-third;
                border-radius: 5px;
                padding: 3px 12px;
                margin: 3px 8px;
            }

        }


    }

    #blog-summary {
        grid-area: summary;
        display: grid;

        @include size(medium) {
            grid-template-columns: 40% 60%;
        }

        @include size(large) {
            grid-template-columns: 70% 30%;
        }

        justify-items: center;
        padding: 30px 0 30px 0;

        #blog-summary-text {
            line-height: 2em;
            letter-spacing: 0.75px;
            text-align: center;
            
            padding: 0 0 10% 0;
            @include size(medium) { padding: 0 10% 10% 10%; }
        }

        #blog-item-image {
            width: 100%;
            border: 1px solid $tofu-primary;
            box-shadow: 5px 10px 95px $tofu-primary;
            border-radius: 5%;
        }
    }

    #blog-body {
        grid-area: body;
        min-height: 50vh;
        line-height: 2em;
        letter-spacing: 0.75px;
        max-width: 100%;

        background-image: url(../../../assets/images/header-banner-footer.svg);
        background-repeat: no-repeat;
        background-position-x: 7%;

        background-size: cover;
        padding: 0 10% 250px 10%;
        margin: 0;


    }

}

// Markdown code blocks
:host ::ng-deep {

    code {
        color: $tofu-primary;
        font-weight: bold;
        font-size: 115%;
        font-family: 'Courier New', Courier, monospace;
    }

    pre {
        margin: 35px 0;
        padding: 35px;
        border: 1px solid $tofu-primary;
        box-shadow: 0px 0 25px $tofu-primary;
        border-radius: 1%;
        overflow-x: auto;

        // Scrollbar styling
        &::-webkit-scrollbar-track {
            border-radius: 2px;
            background-color: #F5F5F5;
          }
          
        &::-webkit-scrollbar {
            height: 9px;
          }
          
        &::-webkit-scrollbar-thumb {
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 7px $tofu-primary;
            background-color: $tofu-primary; 
          }
        // End scrollbar styling
        
        code {
            color: $tofu-third;
            font-weight: normal;
        }

    }
}