@import '../../../styles.scss';

section {
    margin: 0 10%;
}

#blog-item-container {
    display: grid;

    grid-template-rows: auto;
    grid-template-columns: auto;

    grid-template-areas:
        "blog-item-banner"
        "ribbon"
        "summary"
        "body";

    hr {
        border-top: 1px solid $tofu-primary;
    }

    #blog-item-banner {
        grid-area: blog-item-banner;
        min-height: 175px;

        background-image: url(../../../assets/images/header-blog-item-title.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    #blog-ribbon {
        text-align: center;
        grid-area: ribbon;
        margin: 35px 0 35px 0;
        padding: 25px;
        background-color: $tofu-primary;
        color: $tofu-secondary;
    }

    #blog-summary {
        grid-area: summary;
        text-align: center;
        display: grid;
        grid-template-columns: 60% 40%;

        align-items: center;

        margin: 50px auto 50px auto;



        #blog-item-image {
            width: 350px;
            height: 350px;
            border: 1px solid $tofu-primary;
            box-shadow: 5px 10px 95px $tofu-primary;
            border-radius: 5%;
        }
    }

    #blog-body {
        grid-area: body;
        min-height: 50vh;
    }


    
}