@import '../../styles.scss';

section, header {
    padding: 0 5% 0 5%;
}

header {
    @include size(medium) {
        height: $header-height-responsive;
    }
}

.blog-banner {
    height: auto; // Blog about header doesn't take up 100vh

    #title {
        background-image: url(../../assets/images/header-blog-title.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        min-height: 50px;
        @include size(medium) {
            min-height: 150px;
        }
        margin-top: 50px;
        @include size(large) { margin-top: 0px; }
    }

    #subtitle {
        padding: 3vh 0;
        font-variant: small-caps;
        text-align: center;
    }

}

#blog-items-container {
    display: grid;
    height: auto;
    min-height: auto;

    justify-content: space-around;

    @include size(large) {
        justify-content: space-between;

    }

    align-items: stretch;

    grid-template-columns: repeat(auto-fit, minmax(249px, 400px));
    grid-auto-rows: 680px;
    grid-row-gap: 3rem;

    padding-bottom: 5%;
    background-image: url(../../assets/images/header-banner-footer.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

    .blog-item-card {
        display: grid;
        border-radius: 0 0 3% 3%;
        border: solid 1px $tofu-primary;
        text-align: center;

        grid-template-rows: 35% 12.5% 5% 12.5% 22.5% 12.5%;

        box-shadow: 0 0 90px $tofu-primary;

        &>* {
            // border: solid 1px blue;
        }

        .title {
            align-self: center;
            @include size(medium){
                line-height: 1.55em;
            }
        }

        .tags {
            align-self: center;
            .tag {
                display: inline-block;
                border: 1px solid $tofu-primary;
                color: $tofu-third;
                border-radius: 5px;
                padding: 3px 9px;
                margin: 3px 3px;
            }
        }

        .created {
            align-self: start;
            font-size: 13pt;
            color: $tofu-primary;
        }

        .summary {
            line-height: 1.85em;
        }

        // Everything in the card except the image
        :not(:first-child) {
            margin: 0 5%;
        }


        @include size(large) {
            // padding: 3rem 3rem;
            // border-radius: 8%;
        }

        background-color: $tofu-secondary;
        color: #000;

        p {
            line-height: 1.25em;
            @include size(large) { line-height: 1.5em; }
            text-align: justify;
        }

        form {
            justify-self: end;
            align-self: start;
        }

    }
}