<section class="stub-page">
  <h1>Blog</h1>
  <h2>Coming Soon...</h2>
  <p>If you're really interested in what I have to say, you can check out the old Tofu.dev archive.</p>

  <div class="me-cta">
      <form action="https://hganavak.github.io/archive/">
          <input class="cta cta-secondary" type="submit" value="View Blog Archive" />
      </form>
  </div>

</section>

<section style="text-align: center">

  <div *ngIf="blogPost$ | async as blogPost">
    <h1>{{ blogPost.title }}</h1>
    <h4>{{ blogPost.summary }}</h4>
    <strong>Tags:</strong>
    <span *ngFor="let tag of blogPost.tags"> {{ tag }} </span>
    <p>{{ blogPost.body }}</p>
  </div>

</section>