@import '../../styles.scss';

section, header {
    padding: 0 5% 0 5%;
}

header {
    @include size(medium) {
        height: $header-height-responsive;
    }
}

.blog-banner {
    height: auto; // Blog about header doesn't take up 100vh

    #title {
        background-image: url(../../assets/images/header-blog-title.svg);
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 150px;
        margin-top: 50px;
        @include size(large) { margin-top: 0px; }
    }

    #subtitle {
        padding: 3vh 0;
        font-variant: small-caps;
    }

}

#blog-items-container {
    display: grid;
    height: auto;
    min-height: auto;

    justify-content: space-between;
    align-items: stretch;

    grid-template-columns: repeat(auto-fit, minmax(249px, 350px));
    grid-auto-rows: 580px;
    grid-row-gap: 3rem;

    padding-bottom: 5%;
    background-image: url(../../assets/images/header-banner-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;

    .blog-item-card {
        display: grid;
        border-radius: 0 0 3% 3%;
        border: solid 1px $tofu-primary;
        text-align: center;

        grid-template-rows: 45% 12.5% 5% 7.5% 15% 15%;
        box-shadow: 5px 15px 35px $tofu-primary;

        &>* {
            // border: solid 1px blue;
        }

        .title {
            align-self: start;
        }

        .created {
            align-self: start;
            font-size: smaller;
            color: $tofu-primary;
        }

        .summary {
            // align-self: center;
        }

        // Everything in the card except the image
        :not(:first-child) {
            margin: 0 5%;
        }


        @include size(large) {
            // padding: 3rem 3rem;
            // border-radius: 8%;
        }

        background-color: $tofu-secondary;
        color: #000;

        p {
            line-height: 1.25em;
            @include size(large) { line-height: 1.5em; }
            text-align: justify;
        }

        form {
            justify-self: end;
            align-self: start;
        }

    }
}