/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

// Theme colors
$tofu-primary: #88CDFF;
$tofu-secondary: white;
$tofu-third: #2F2E41;

// Fonts
$impact-font: 'Michroma', sans-serif;
$base-font-color: #2b2b2b;

html {
    font-family: 'Roboto', sans-serif;
    color: $base-font-color;
}

html, body {
    width: 100%;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    font-family: $impact-font;
    font-variant: small-caps;
    letter-spacing: 0.25em;
}

form {
    display: inline-block;
}

a {
    color: $tofu-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}


.cta {
    background-color: $tofu-primary;
    color: #fff;
    font-family: $impact-font;
    padding: 1em 2em 1em 2em;
    border-radius: 5px;
    border: none; // TODO: Refactor. Set to white + block sizing
            border: 0.5px solid $tofu-secondary;
}

.cta:hover {
    cursor: pointer;
    padding: 1.1em 2.2em 1.1em 2.2em;
    // TODO: Add color switch
}

// TODO: Refactor. Secondary but not needed (white border match)
.cta-secondary {
    border: 1px solid $tofu-secondary;
}

// Settings for 'stub pages' (pages with only a single section)
.stub-page {
    height: 60vh; 
    background-color: $tofu-primary;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5% 0 5%;
    text-align: center;

    a {
        color: white;
        text-decoration: underline;
    }

    p {
        font-variant: small-caps;
        font-size: larger;
        letter-spacing: 0.1em;
    }
}

/**************************/
// Size/Media Query Mixins /
/**************************/
@mixin size($size) {

    /* Extra small devices (phones, 600px and down) */
    @if $size == extra-small {
        @media only screen and (max-width: 599px) { @content; }
    }

    /* Small devices (portrait tablets and large phones, 640px and up) */
    @if $size == small {
        @media only screen and (min-width: 640px) { @content; }
    }

    /* Medium devices (landscape tablets, 768px and up) */
    @if $size == medium {
        @media only screen and (min-width: 768px) { @content; }
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @if $size == large {
        @media only screen and (min-width: 992px) { @content; }
    }

    /* Extra large devices (large laptops and desktops, 1200px and up) */
    @if $size == extra-large {
        @media only screen and (min-width: 1200px) { @content; }
    }
}

$header-height: 95vh; // The height for the first element after the navbar on pages
$header-height-responsive: 90vh; // The height for the first element after the navbar on pages on larger devices

header  {
    height: $header-height;
    font-variant: small-caps;
}