/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';

$tofu-primary: #88CDFF;
$tofu-secondary: white;
$tofu-third: #2F2E41;

$impact-font: 'Michroma', sans-serif;

html {
    font-family: 'Roboto', sans-serif;
    color: #2b2b2b;
}

h1, h2, h3, h4, h5 {
    font-family: $impact-font;
    font-variant: small-caps;
    letter-spacing: 0.25em;
}

form {
    display: inline-block;
}

$header-height: 90vh; // The height for the first element after the navbar on pages
header  {
    height: $header-height;
    font-variant: small-caps;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
}


.cta {
    background-color: $tofu-primary;
    color: #fff;
    font-family: $impact-font;
    padding: 1em 2em 1em 2em;
    border-radius: 5px;
    border: none;
}

.cta:hover {
    cursor: pointer;
    padding: 1.1em 2.2em 1.1em 2.2em;
}

.cta-secondary {
    border: 1px solid $tofu-secondary;
}