@import '../../styles.scss';

.sections {
    display: flex;
    flex-flow: column nowrap;
}

section {
    height: 100vh;
}

.home-banner  {
    display: grid;
    grid-template-areas:
        "title ."
        "description banner-img";
    grid-template-rows: 20% 80%;
    padding: 0 5% 0 5%;

    background-image: url(../../assets/images/header-banner-footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-banner > * {
    text-align: center;
}

#title {
    grid-area: title;
    background-image: url(../../assets/images/header-banner-title.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#description {
    grid-area: description;
    line-height: 2.5em;

    #name-and-title {
        margin: 2em 0 4em 0;
    }
}

#banner-img {
    grid-area: banner-img;
    background-image: url(../../assets/images/me.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#portfolio {
    background-color: $tofu-blue;
    color: white;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 80% 15%;
    padding: 0 10% 0 10%;
    justify-items: center;

    #portfolio-center {
        background-image: url(../../assets/images/product_tour.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        justify-self: stretch;

        display: grid;
        grid-template-rows: 65% 35%;

        #caption {
            text-align: center;
            font-family: $impact-font;
            line-height: 1.5em;
            font-variant: small-caps;
            letter-spacing: 0.1em;
            font-weight: bold;
        }

        #portfolio-buttons {
            text-align: center;
        }
    }
}

#about {
    background-color: $tofu-blue;
}

.portfolio-item:nth-of-type(odd) {
    background-color: $tofu-blue;
}

footer {
    height: 100vh;
    background-image: url(../../assets/images/moonlight.svg);
    background-size: contain;
    background-position: bottom;
    background-color: $tofu-blue;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    h3 {
        color: white;
    }
}