<header class="home-banner">
  <div id="title">
  </div>
  <div id="description">
    <h2 id="name-and-title">Sam Kavanagh, PhD</h2>
    <h2>Full Stack</h2>
    <h2>Web Developer</h2>

    <form action="mailto:hganavak@gmail.com">
      <input class="cta" type="submit" value="Get in Contact" />
    </form>

  </div>
  <div id="banner-img"></div>
</header>

<main class="sections">

  <section id="portfolio">

    <div id="portfolio-title">
      <h1>Portfolio</h1>
    </div>

    <div id="portfolio-center">
      <div id="caption">
        <h3>My Work</h3>
        <p>Scroll down for a list of recent projects.</p>
        <p>Alternatively you can check out my GitHub profile.</p>
      </div>
      <div id="portfolio-buttons">
          <form [routerLink]="['/portfolio']">
              <input class="cta cta-secondary" type="submit" value="View Projects" style="margin: 0 10px 0 10px"/>
            </form>

          <form action="https://github.com/Hganavak">
              <input class="cta cta-secondary" type="submit" value="View GitHub Profile" />
          </form>
      </div>
    </div>
    
  </section>

  <section class="portfolio-item">
    <div class="preview-img">
      <img src="./assets/images/portfolio-item.svg" class="preview-img-picture">
    </div>
    <div class="item-description">
      <h2>ResearchHub</h2>
      <p>The ResearchHub connects you with people, resources, and services from across the University to enhance and accelerate your research.</p>
    </div>
    <div class="item-cta">
        <form action="/portfolio">
            <input class="cta cta-secondary" type="submit" value="View Project" />
        </form>
  </div>
  </section>

  <section class="portfolio-item">
    <div class="preview-img">
      <img src="./assets/images/portfolio-item.svg" class="preview-img-picture">
    </div>
    <div class="item-description">
      <h2>Tofu.dev</h2>
      <p>What's a better example of my design process than my personal website?</p>
    </div>
    <div class="item-cta">
        <form action="/portfolio">
            <input class="cta cta-secondary" type="submit" value="View Project" />
        </form>
  </div>
  </section>


  <section id="blog">
    <h1>Blog</h1>
    <h2>Coming Soon...</h2>
  </section>

  <section id="about">
    <h1 >About</h1>

    <div class="me">
      <img src="./assets/images/me.png" class="me">
    </div>
  
    <div class="me-description">
      <h3>Hi, I'm Sam.</h3>
      <h4>Fancy seeing you here.</h4>
      <p>If you want to read more about me for some reason you can do so by following the link below.</p>
    </div>

    <div class="me-cta">
        <form action="/about">
            <input class="cta cta-secondary" type="submit" value="About Me" />
        </form>
  </div>

  </section>
</main>

<footer>
  <h3>Tofu.dev | &nbsp;</h3>
  <h3>Sam Kavanagh</h3>
</footer>
