<header class="home-banner">
  <div id="title">
  </div>
  <div id="description">
    <h2 id="name-and-title">Sam Kavanagh, PhD</h2>
    <h2>Full Stack</h2>
    <h2>Web Developer</h2>

    <form action="mailto:hganavak@gmail.com">
      <input class="cta" type="submit" value="Get in Contact" />
    </form>

  </div>
  <div id="banner-img"></div>
</header>

<main class="sections">

  <section id="portfolio">
    <div id="portfolio-title">
      <h1>Portfolio</h1>
    </div>
    <div id="portfolio-center">
      <div></div>
      <div id="caption">
        <h3>My Work</h3>
        <p>Scroll down for a list of recent projects.</p>
        <p>Alternatively you can check out my GitHub profile.</p>
      </div>
      <div id="portfolio-buttons">
          <form [routerLink]="['/portfolio']">
              <input class="cta cta-white" type="submit" value="View Projects" style="margin: 0 10px 0 10px"/>
            </form>

          <form action="https://github.com/Hganavak">
              <input class="cta cta-white" type="submit" value="View GitHub Profile" />
          </form>

      </div>
    </div>
  </section>

  <section class="portfolio-item">
    Portfolio item 1
  </section>

  <section class="portfolio-item">
    Portfolio item 1
  </section>

  <section>
    <h1>Blog</h1>
  </section>

  <section id="about">
    <h1>About</h1>
  </section>
</main>

<footer>
  <h3>Tofu.dev | &nbsp;</h3>
  <h3>Sam Kavanagh</h3>
</footer>
